doctype html
html(lang="en" class="dark min-h-screen")
  head
    title 404 | NISB 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="NISB Social page")
    meta(name="author" content="Shreesh Kulkarni")
    link(rel="icon" type="image/x-icon" href="./assets/NISB_logo.png")
    link(rel="stylesheet" href="./assets/style/tailwind.css")

  body.antialiased.relative.text-white(class="min-h-screen")
