
- 
  var links = [
      {
        "name": "NISB Website",
       "link": "https://www.nisb.in",
       "id": "mT5xKowU1ZY5VE4qf3Iz"
      },
      {
        "name": "Instagram",
       "link": "https://www.instagram.com/ieee_nie/",
       "id": "0gps2MhWG1sogyI5dheP"
      },
      {
        "name": "YouTube",
       "link": "https://www.youtube.com/channel/UCATF66mX12qcxEIA3lgSpaw",
       "id": "SilJErbYC5pcaECDfXT7"
      },
      {
        "name": "LinkedIn",
       "link": "https://www.linkedin.com/in/nie-ieee-student-branch-779682146/",
       "id": "cAJ89pGzdzl7XfFSkrFl"
      },
      {
        "name": "CommuNIEty Discord Server",
       "link": "https://discord.gg/5UH2BWr4RD",
       "id": "5y4dmU8EtCOeZwf2kOJF"
      },
      {
        "name": "GitHub",
       "link": "https://github.com/nisbweb",
       "id": "5C7GEyeBRHssyFs3P8pX"
      },
      {
        "name": "Facebook",
       "link": "https://www.facebook.com/NieIeeeStudentBranch",
       "id": "zrv3cEpCCqoRUPu6r42X"
      },
    ]
