
- 
  var links = [
      {
       "name": "Apply for new membership",
       "link": "https://bit.ly/nisb_24",
       "id": "mVaYc0YkU6Da7R8hP5cq",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Ankura'23 Inauguration",
       "link": "https://bit.ly/Ankura23",
       "id": "fXsjQM6cULj3cU91M37M",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Electronika 18.0",
       "link": "https://bit.ly/Electronika18",
       "id": "B3Ut9A1S4AcaSQb40XGX",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "If Not You Then Who?",
       "link": "https://bit.ly/Ifnotyouthenwho",
       "id": "5LkammOJ0f65C740UdoW",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "IEEE Programming League 19.0",
       "link": "https://bit.ly/IPL__19",
       "id": "g2y8DGWX0jgp4Sj281Zk",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Big Brain Time",
       "link": "https://bit.ly/B_B_T_",
       "id": "9p6TwLXM1UgvowKZRZJB",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Designathon",
       "link": "https://bit.ly/Designathon_",
       "id": "fCbt166BRENBOw8jpoWM",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Pitch It To Win It",
       "link": "https://bit.ly/Pitch_Win",
       "id": "hJM6JZLCj1lNGsww1PV1",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Valedictory Ankura '23",
       "link": "https://bit.ly/ValedictoryAnkura",
       "id": "NtJNErTGxa5JXcPhcHmt",
       "icon": "globe",
       "type": "",
      },
      //- {
      //-  "name": "Renew your membership",
      //-  "link": "https://bit.ly/nisb_rn24",
      //-  "id": "YhxaX4HvDW0uLn8qEgUf",
      //-  "icon": "globe",
      //-  "type": "",
      //- },
      {
        "name": "NISB Website",
       "link": "https://www.nisb.in",
       "id": "mT5xKowU1ZY5VE4qf3Iz",
       "icon": "globe",
       "type": "",
      },
      //- {
      //-   "name": "Instagram",
      //-  "link": "https://www.instagram.com/ieee_nie/",
      //-  "id": "0gps2MhWG1sogyI5dheP",
      //-  "icon": "instagram-alt",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "YouTube",
      //-  "link": "https://www.youtube.com/channel/UCATF66mX12qcxEIA3lgSpaw",
      //-  "id": "SilJErbYC5pcaECDfXT7",
      //-  "icon": "youtube",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "LinkedIn",
      //-  "link": "https://www.linkedin.com/in/nie-ieee-student-branch-779682146/",
      //-  "id": "cAJ89pGzdzl7XfFSkrFl",
      //-  "icon": "linkedin-square",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "GitHub",
      //-  "link": "https://github.com/nisbweb",
      //-  "id": "5C7GEyeBRHssyFs3P8pX",
      //-  "icon": "github",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "Facebook",
      //-  "link": "https://www.facebook.com/NieIeeeStudentBranch",
      //-  "id": "zrv3cEpCCqoRUPu6r42X",
      //-  "icon": "facebook-circle",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "CommuNIEty Discord Server",
      //-  "link": "https://discord.gg/5UH2BWr4RD",
      //-  "id": "5y4dmU8EtCOeZwf2kOJF",
      //-  "icon": "discord-alt",
      //-  "type": "logo",
      //- }
    ]
