
- 
  var links = [
      {
       "name": "Inauguration of Rubix 2023 & Talk on Biotechnology 2.0",
       "link": "https://forms.gle/m34rGPRzHTn8Ls1E9",
       "id": "EsmBPXjheLasq02FAd7f",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Code Geeks",
       "link": "https://forms.gle/Y6hRkvehYxFAhU178",
       "id": "znYcH7v8Qn8avEnexXRy",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "TechWitz",
       "link": "https://forms.gle/pR789FNoiUzwrY798",
       "id": "e6x36aSZD0ccGABDZnQz",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Mini Hackathon",
       "link": "https://forms.gle/VmNtgRw2wf8HedBN8",
       "id": "T5dqX3k8e6PESsJPlVpD",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Talk on Web Tech & Cloud Computing",
       "link": "https://forms.gle/XaoZefkm8JbQJSK17",
       "id": "vXQT6CYhF31bJcQAW64j",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Reverse Coding & Valedictory Ceremony",
       "link": "https://forms.gle/qt4RUxHcq8nbvTRaA",
       "id": "XFudgLhBFcfT2uu9jAdS",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Apply for new membership",
       "link": "https://forms.gle/bKHoY4pShqfCjekQA",
       "id": "mVaYc0YkU6Da7R8hP5cq",
       "icon": "globe",
       "type": "",
      },
      //- {
      //-  "name": "Renew your membership",
      //-  "link": "https://forms.gle/Gnv65TWTwRR2MvDM8",
      //-  "id": "YhxaX4HvDW0uLn8qEgUf",
      //-  "icon": "globe",
      //-  "type": "",
      //- },
      //- {
      //-   "name": "NISB Website",
      //-  "link": "https://www.nisb.in",
      //-  "id": "mT5xKowU1ZY5VE4qf3Iz",
      //-  "icon": "globe",
      //-  "type": "",
      //- },
      {
        "name": "Instagram",
       "link": "https://www.instagram.com/ieee_nie/",
       "id": "0gps2MhWG1sogyI5dheP",
       "icon": "instagram-alt",
       "type": "logo",
      },
      //- {
      //-   "name": "YouTube",
      //-  "link": "https://www.youtube.com/channel/UCATF66mX12qcxEIA3lgSpaw",
      //-  "id": "SilJErbYC5pcaECDfXT7",
      //-  "icon": "youtube",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "LinkedIn",
      //-  "link": "https://www.linkedin.com/in/nie-ieee-student-branch-779682146/",
      //-  "id": "cAJ89pGzdzl7XfFSkrFl",
      //-  "icon": "linkedin-square",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "CommuNIEty Discord Server",
      //-  "link": "https://discord.gg/5UH2BWr4RD",
      //-  "id": "5y4dmU8EtCOeZwf2kOJF",
      //-  "icon": "discord-alt",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "GitHub",
      //-  "link": "https://github.com/nisbweb",
      //-  "id": "5C7GEyeBRHssyFs3P8pX",
      //-  "icon": "github",
      //-  "type": "logo",
      //- },
      //- {
      //-   "name": "Facebook",
      //-  "link": "https://www.facebook.com/NieIeeeStudentBranch",
      //-  "id": "zrv3cEpCCqoRUPu6r42X",
      //-  "icon": "facebook-circle",
      //-  "type": "logo",
      //- },
    ]
