
- 
  var links = [
      {
        "name": "instagram",
       "link": "https://google.com"
      },
      {
        "name": "github",
       "link": "https://google.com"
      },
      {
        "name": "nisb website",
       "link": "https://google.com"
      },
      {
        "name": "youtube",
       "link": "https://google.com"
      },
    ]
