
- 
  var links = [
      {
       "name": "Apply for new membership",
       "link": "https://forms.gle/bKHoY4pShqfCjekQA",
       "id": "mVaYc0YkU6Da7R8hP5cq",
       "icon": "globe",
       "type": "",
      },
      {
       "name": "Renew your membership",
       "link": "https://forms.gle/Gnv65TWTwRR2MvDM8",
       "id": "YhxaX4HvDW0uLn8qEgUf",
       "icon": "globe",
       "type": "",
      },
      {
        "name": "NISB Website",
       "link": "https://www.nisb.in",
       "id": "mT5xKowU1ZY5VE4qf3Iz",
       "icon": "globe",
       "type": "",
      },
      {
        "name": "Instagram",
       "link": "https://www.instagram.com/ieee_nie/",
       "id": "0gps2MhWG1sogyI5dheP",
       "icon": "instagram-alt",
       "type": "logo",
      },
      {
        "name": "YouTube",
       "link": "https://www.youtube.com/channel/UCATF66mX12qcxEIA3lgSpaw",
       "id": "SilJErbYC5pcaECDfXT7",
       "icon": "youtube",
       "type": "logo",
      },
      {
        "name": "LinkedIn",
       "link": "https://www.linkedin.com/in/nie-ieee-student-branch-779682146/",
       "id": "cAJ89pGzdzl7XfFSkrFl",
       "icon": "linkedin-square",
       "type": "logo",
      },
      {
        "name": "CommuNIEty Discord Server",
       "link": "https://discord.gg/5UH2BWr4RD",
       "id": "5y4dmU8EtCOeZwf2kOJF",
       "icon": "discord-alt",
       "type": "logo",
      },
      {
        "name": "GitHub",
       "link": "https://github.com/nisbweb",
       "id": "5C7GEyeBRHssyFs3P8pX",
       "icon": "github",
       "type": "logo",
      },
      {
        "name": "Facebook",
       "link": "https://www.facebook.com/NieIeeeStudentBranch",
       "id": "zrv3cEpCCqoRUPu6r42X",
       "icon": "facebook-circle",
       "type": "logo",
      },
    ]
