
- 
  var links = [
      {
        "name": "NISB Website",
       "link": "https://www.nisb.in"
      },
      {
        "name": "Instagram",
       "link": "https://www.instagram.com/ieee_nie/"
      },
      {
        "name": "Youtube",
       "link": "https://www.youtube.com/channel/UCATF66mX12qcxEIA3lgSpaw"
      },
      {
        "name": "LinkedIn",
       "link": "https://www.linkedin.com/in/nie-ieee-student-branch-779682146/"
      },
      {
        "name": "CommuNIEty Discord Server",
       "link": "https://discord.gg/5UH2BWr4RD"
      },
      {
        "name": "Github",
       "link": "https://github.com/nisbweb"
      },
      {
        "name": "Facebook",
       "link": "https://www.facebook.com/NieIeeeStudentBranch"
      },
    ]
