doctype html
html(lang="en" class="dark")
  head
    title NISB Social 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="NISB Social Page")
    meta(name="author" content="Shreesh Kulkarni")
    link(rel="icon" type="image/x-icon" href="./assets/favicon.ico")
    link(rel="stylesheet" href="./assets/style/tailwind.css")

  body.antialiased.relative.text-white(class="")
    footer.text-center.my-4 Made with ❤️ by Tean NISB
